p.
	The game will help you to train your attention and focus. Get the highest level with a bonus for your brain! Try to get to level 25.

p.
	Your goal on each level is to find a specific number (or not a number – there are surprises!) in a very limited time.

p.
	Some says there are colored aliens on level 17. Some says there is a red-hat-wearing plumber on level 100. But everybody's agreed that this game requires maximum attention and rapid decisions.