@import '../variables.scss';

$cell-title-font-sizes: (
		null  : 1.5em,
		480px : 1.5em,
		640px : 1.7em,
		1024px: 1.9em
);

.project-cell {
	display: inline-block;

	width: 90%;
	text-align: center;

	@media screen and (min-width: 400px) {
		width: 40%;
		padding: 0 1em;
		text-align: left;
	}
	@media screen and (min-width: 1024px) {
		width: 290px;
		padding: 0 2em;
		text-align: left;
	}

	height: auto;
}

.project-cell-image {
	width: 100%;
	height: auto;

	&:hover {
		cursor: pointer;
	}
}

.project-cell-title {
	font-family: "ADAM.CG PRO", serif;
	display: block;
	margin: 0.4em 0;
	text-decoration: none;
	color: $text-color;

	@include font-size-scale($cell-title-font-sizes, 0.68);

	&:hover {
		color: $link-color;
		cursor: pointer;
	}
}

.project-cell-subtitle {
	font-family: "ADAM.CG PRO", serif;
	margin-bottom: 2em;
	margin-top: 0;
	color: #9e9e9e;

	@include font-size-scale($cell-title-font-sizes, 0.55);
}