p
	| Waaat? Another pomodoro app? Yes!

p.
	What's different:

ul
	li pause automatically when you're away
	li if you're away for more than 5 min, a new workflow session will start when you come back
	li option to show you a break reminder instead of immediate fullscreen break
	li beautiful (yep!)
	li with nice animations (yep!)
	li and even a trackpad gesture support!
