p.
	I tried to make a best piano app on Google Play, so any feedback is welcome!
ul
	li Good sounding (sampled instruments)
	li Good looking
	li Option for two stacked rows
	li Low latency (compared to the rest piano apps)
	li Custom instruments (record your own sample using microphone or open existent file)
	li 128 MIDI instruments (really!)
	li Recording
	li MIDI over WiFi
	li Full piano keyboard (88 keys)
	li Nice key labels
	li Fast loading (less than 0.3 second)
	li Multitouch support
	li Sustain pedal
	li No ads!

p.
	Piano For You is suitable for professional musicians as well as for learning piano. Many vocalists use it to track pitch. Composers use Piano For You to record their musical ideas on the go. You should try it too :)

p.
	Latency is a real pain on Android devices, but I've done all I can.
