p
	| I always wanted to create a music player of my dreams and I think I've finally done it.
	br
	| Hope, you'll like it too.

p.
	Main feature is the playlist, where you can drop music with a simple gesture. It really feels that easy: you can quickly made a playlist you need right now out of hundreds of tracks you have. All the tracks in this playlist will be nicely separated by albums or folders.

p
	| Folders.
	br
	| You can upload music from your PC/Mac straight into the player app. All your highly structured music collection… or just a jumble of tracks.
	br
	| Upload entire “E:\music” folder and it will appear as is in the application (look below for instructions).

p.
	If you used to sync with iTunes, it is supported as well.

p.
	The rest:

ul
	li Real waveform instead of boring position slider.
	li Covers for albums.
	li Last.fm scrobbling.
	li VK.com music status.
	li Support for FLAC and many more audio formats.
