p.
	Best piano app on iOS when you need just a perfect piano app.

ul
	li Launch time is less than 0.2 seconds
	li Good looking
	li Good sounding
	li Option for two rows
	li Lowest possible latency
	li Recording
	li Nice key labels
	li Sustain pedal
	li Custom Sound Font support (SF2, DLS)
	li Support for EXS24 instruments (partial)
	li Inter-app audio and Audiobus
p.
	Piano For You is suitable for professional musicians as well as for learning piano. Many vocalists use it to track pitch. Composers use Piano For You to record their musical ideas on the go. You should try it too!