@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.scss';
@import '../TitlePage/style';

.project-page {
	@extend .title-page;

	padding: 0 1.5em;
}

.project-page-screenshots {

}

.project-page-screenshot {
	height: 30em;
	margin: 0 1em;
}

.project-page-description {
	@include font-size($subtitle-font-sizes);
}