@import '../variables.scss';

.project-grid {
	@media screen {
		margin: 2em 0;
	}
	@media screen and (min-width: 500px) {
		margin: 3em 0;
	}
	@media screen and (min-width: 1024px) {
		margin: 5em 0;
	}
}
