@import '../variables.scss';

.project-grid {
	text-align: center;
	overflow: auto;
	list-style: none;
	padding: 0;

	margin: 1em 0;

	@media screen and (min-width: 500px) {
		margin: 3em 0;
	}
	@media screen and (min-width: 1024px) {
		margin: 5em 0;
	}
}
