p.
	Experiment with Flutter framework.

p.
	App to compare musical taste over VK social network.

ul
	li Common artists
	li Most popular artists
	li Most popular tracks
	li Most track count
	li And more